h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
li,
label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: var(--CCfontColor);
}

a {
  text-decoration: none;
}
.App {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}
button {
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
